<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<a href="/LearningMaterial/<%= items[0]['post_id'] %>/delete"><button class="btn btn-danger btn-md"><i class="far fa-trash-alt"></i> Delete</button></a>
		<div class="container navbarMaterial">
			<% include ../partials/navbarVideo %>
		</div>
		<div class="container">
			<% if (join === undefined || join.length == 0) { -%>
				<h5 class="text-center">There are no available videos...</h5>
			<% } -%>	

			<% for (var i = 0; i < join.length; i++) { -%>
				<h5><%= join[i]['filename'] %></h5>
				<video width="320" height="240" controls>
					<source src="/uploads/<%= join[i]['filename'] %>" type="<%= join[i]['filetype'] %>">
				</video>
			<% } -%>
		</div>
	</body>
</html>