<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container title">
			<h4><%= items[0]['title'] %></h4>
			<h5><%= items[0]['description'] %></h5>
			<a href="/edit" class="btn btn-primary btn-lg">Edit</a>
			<a href="/deletematerial/<%= items[0]['post_id']%>" class="del btn btn-danger btn-lg ">Delete</a>
		</div>
	</body>
</html>

<script>
	$(".del").on("click",function(){
        return confirm("Delete Activity?");
    });
</script>