<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container navbarMaterial">
			<% include ../partials/navbarActivities %>
		</div>
		<% if (join === undefined || join.length == 0) { -%>
			<h5 class="text-center">There are no available activites...</h5>
		<% } -%>
		<div class="container activityTitle">
			<h3>List of Activities</h3>
		</div>
		<div class="container">
			<% for (var i = 0; i < join.length; i++) { -%>
				<h5><%= join[i]['activity_title'] %></h5>
				<span><i><%= join[i]['content'] %></i></span>
			<% } -%>
		</div>
		
	</body>
</html>